
/*-- 2.3 Categories menu css here --*/
.categories_menu {
    position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu {
        margin-bottom: 25px;
    }
}

.categories_title {
    background: #333;
    padding-left: 19px;
    position: relative;
    cursor: pointer;
    height: 55px;
    line-height: 55px;
}
@media only screen and (max-width: 767px) {
    .categories_title {
        height: 48px;
        line-height: 48px;
    }
}

.categories_title::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c9";
    font-size: 1.3em;
    display: inline-block;
    padding-right: 25px;
    vertical-align: middle;
    font-weight: 900;
    color: #fff;
    margin-top: -3px;
}

.categories_title h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    display: inline-block;
    font-family: "Lato", sans-serif;
}

.categories_menu_toggle {
    padding: 5px 9px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    /*position: absolute;*/
    width: 100%;
    top: 100%;
    z-index: 9;
    font-weight: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle {
        display: none;
        max-height: 360px;
        overflow: auto;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle {
        display: none;
        max-height: 360px;
        overflow: auto;
        padding: 15px 10px 15px 20px;
    }
}
.categories_menu_toggle > ul > li {
    position: relative;
        border-bottom: 1px solid #dddddd;
}

.categories_menu_toggle > ul > li:last-child {
        border-bottom: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li.menu_item_children > a {
        position: relative;
    }
    .categories_menu_toggle > ul > li.menu_item_children > a::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li.menu_item_children > a {
        position: relative;
    }
    .categories_menu_toggle > ul > li.menu_item_children > a::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li.menu_item_children.open > a::before {
        display: none;
    }
    .categories_menu_toggle > ul > li.menu_item_children.open > a::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li.menu_item_children.open > a::before {
        display: none;
    }
    .categories_menu_toggle > ul > li.menu_item_children.open > a::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 30px;
    }
}
.categories_menu_toggle > ul > li > span {
    font-size: 14px;
    color: #333;
    line-height: 43px;
    text-transform: capitalize;
    display: block;
    cursor: pointer;
    padding: 0 15px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .categories_menu_toggle > ul > li > span {
        line-height: 38px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li > span {
        line-height: 35px;
        padding: 0;
    }
}
.categories_menu_toggle > ul > li > span i.fa-angle-right {
    float: right;
    font-size: 15px;
    line-height: 35px;
    transition: .3s;
    -webkit-transition: .3s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li > span i.fa-angle-right {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li > span i.fa-angle-right {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li > span:hover {
        color: #ffd54c;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li > span:hover {
        color: #ffd54c;
    }
}
.categories_menu_toggle > ul > li:last-child > a {
    border-bottom: 0;
}
.categories_menu_toggle > ul > li:hover ul.categories_mega_menu {
    opacity: 1;
    visibility: visible;
    left: 100%;
}
.categories_menu_toggle > ul > li:hover > span {
    background: #F0F0F0;
    font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li:hover > span {
        background: inherit;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li:hover > span {
        background: inherit;
    }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu {
    position: absolute;
    left: 120%;
    width: 720px;
    -webkit-box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 0 6px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px 20px 16px;
    overflow: hidden;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu {
        width: 680px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu {
        display: none;
        opacity: inherit !important;
        visibility: inherit !important;
        left: inherit !important;
        width: 100%;
        top: 100%;
        max-height: 350px;
        overflow: auto;
        transition: unset;
        box-shadow: inherit;
        position: inherit;
        padding: 6px 20px 0px 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu {
        display: none;
        opacity: inherit !important;
        visibility: inherit !important;
        left: inherit !important;
        width: 100%;
        top: 100%;
        max-height: 350px;
        overflow: auto;
        transition: unset;
        box-shadow: inherit;
        position: inherit;
        padding: 6px 20px 0px 40px;
    }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu.open {
    display: block;
    left: 0;
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li {
    padding: 0 15px;
    width: 25%;
    float: left;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu > li {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu > li {
        width: 100%;
        padding: 0;
    }
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li > a {
    line-height: 30px;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.categories_menu_toggle > ul > li ul.categories_mega_menu > li > a:hover {
    color: #0056b3;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu > li.menu_item_children > a {
        text-transform: capitalize;
        /*font-weight: 400;*/
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle > ul > li ul.categories_mega_menu > li.menu_item_children > a {
        text-transform: capitalize;
        /*font-weight: 400;*/
    }
}

.categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li {
    padding: 0;
    width: 50%;
    margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li {
        width: 100%;
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li {
        width: 100%;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children > a {
        position: relative;
    }
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children > a::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children > a {
        position: relative;
    }
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children > a::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children.open > a::before {
        display: none;
    }
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children.open > a::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children.open > a::before {
        display: none;
    }
    .categories_menu_toggle ul li.categorie_list ul.categories_mega_menu > li.menu_item_children.open > a::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorie_sub_menu {
        display: none;
        padding: 1px 0 9px 30px;
    }
}
@media only screen and (max-width: 767px) {
    .categorie_sub_menu {
        display: none;
        padding: 1px 0 9px 30px;
    }
}

.categorie_sub_menu li a {
    color: #333;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    /*font-weight: 400;*/
    line-height: 38px;
}
.categorie_sub_menu li a:hover {
    color: #ffd54c;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorie_sub_menu li a {
        line-height: 33px;
    }
}
@media only screen and (max-width: 767px) {
    .categorie_sub_menu li a {
        line-height: 33px;
    }
}

.categories_menu_toggle ul li ul.categories_mega_menu.column_3 {
    width: 550px;
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_3 {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_3 {
        width: 100%;
    }
}

.categories_menu_toggle ul li ul.categories_mega_menu.column_3 > li {
    width: 33.33%;
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_3 > li {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_3 > li {
        width: 100%;
    }
}

.categories_menu_toggle ul li ul.categories_mega_menu.column_2 {
    width: 400px;
}

.categories_menu_toggle ul li ul.categories_mega_menu.column_2 > li {
    width: 50%;
}
@media only screen and (max-width: 767px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_2 > li {
        width: 100%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categories_menu_toggle ul li ul.categories_mega_menu.column_2 > li {
        width: 100%;
    }
}

.categorie_sub {
    opacity: 0;
    z-index: 999;
    position: absolute;
    width: 101%;
    left: -1px;
    border: lef;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    top: 65%;
    visibility: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorie_sub {
        width: 100%;
        left: 0px;
    }
}
.categorie_sub.open {
    top: 95%;
    opacity: 1;
    visibility: visible;
}

.categories_menu_toggle ul li.has-sub > a::before {
    position: absolute;
    content: "\f055";
    font-family: FontAwesome;
    top: 0;
    right: 20px;
    font-size: 18px;
    pointer-events: none;
}

.categories_menu_toggle ul li.has-sub > a.open::before {
    content: "\f056";
}

.categories_menu_toggle ul li.has-sub ul.categorie_sub li a {
    text-transform: capitalize;
    font-size: 14px;
    /*font-weight: 400;*/
    padding-bottom: 16px;
    padding-left: 15px;
    display: block;
    color: #333;
}

.categories_menu_toggle ul li.has-sub ul.categorie_sub li a:hover {
    background: #F0F0F0;
    font-weight: 700;
}

.categories_menu_toggle ul li.has-sub {
    padding-bottom: 10px;
}

.categories_menu_toggle ul li ul.categories_mega_menu > li:first-child {
    padding-left: 0;
}

.categories_menu_toggle ul li ul.categories_mega_menu > li:last-child {
    padding-right: 0;
}

.categorie_banner {
    position: absolute;
    bottom: 0;
    right: 20px;
    width: 500px;
}
@media only screen and (max-width: 767px) {
    .categorie_banner {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .categorie_banner {
        display: none;
    }
}
.categorie_banner a img:hover {
    opacity: 0.8;
}
