/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 25, 2020, 9:51:13 PM
    Author     : taha
*/


body, p , html{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}


body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    visibility: visible;
    font-family: "Open Sans", sans-serif;
    color: #333;
    letter-spacing: -0.025em;
    background-color:transparent;
    background-image: url("/images/bg.jpg");

}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


p {
    font-size: 14px;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    border-bottom: solid 1px #ffa07f;
}

p a:hover::after {
    opacity: 0.2
}


a,
a:hover,
a:visited,
a:active,
a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

/****
/**   TOP BAR
/**/


.top_bar_contact {
    display: inline-block
}

.top_bar_contact_item {
    display: inline-block;
}

.top_bar_contact_item:not(:first-child) {
    margin-right: 0px;
}

.top_bar_contact_item a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.top_bar_contact_item a:hover {
    color: #8a8a8a
}

.top_bar_contact_item:last-child {
    margin-right: 0;
}

.top_bar_contact_item i{

    color: #f56263;
}

.top_bar_contact_item img{
    margin-bottom: 7px;
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px)
}

.top_bar_menu {
    display: inline-block
}

.top_bar_dropdown li {
    padding-left: 13px;
    padding-right: 13px
}


/****
/**   NAV BAR
/**/

.navbar{
    width: 100%;
}

@media (min-width: 992px){
    .navbar .nav-item{
        border-right: 1px solid #e5e5e5;
    }

    .navbar .nav-item:last-child {
        border:none;
    }

    .navbar .nav-item:last-child {
        border:none;
    }
    .navbar-nav{
        border-bottom: 2px solid #e4ad08;
        width: 100%;
        font-weight: bolder;
    }

    .nav-link.active{
        background-color: #f4c158;
        color: #fff !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
}

/****
/**   SEARCH FORM
/**/
.header_search {
    height: 90px
}

.header_search_content {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

.header_search_form_container {
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
}

.header_search_form {
    width: 100%;
    height: 100%
}

.header_search_input {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 50px;
    border: none !important;
    outline: none !important;
    padding-left: 26px;
    color: #7f7f7f;
    float: left
}

.header_search_input::-webkit-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::-moz-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input:-ms-input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_input::input-placeholder {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 50px;
    color: #a3a3a3 !important
}

.header_search_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}








.main_nav  {
    width: 100%;
}


.main_nav_dropdown li {
    margin-right: 35px
}

.main_nav_dropdown li:last-child {
    margin-right: 0px
}

.navbar .nav-item .nav-link {
    font-size: 18px;
    color: #525252;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
}

.navbar  > li:not(:last-child) > a {
    border-right: 1px solid #eeeeee;
    padding-right: 30px;
}





@media (min-width: 1200px) {
    .container {
        max-width: 1300px !important
    }
}



@media only screen and (max-width: 991px) {
    .header_search {
        height: 50px
    }
}

@media only screen and (max-width: 767px) {

    .main_nav {
        margin-top: 0;
    }
}

@media only screen and (max-width: 575px) {
    h2 {
        font-size: 24px
    }

    p {
        font-size: 13px
    }

}


/** #footer-menu-box **/
#footer{
    background-color: #fafafa;
    padding: 20px 0;
    border-top: 1px solid #eeeeee;
}




.carousel-inner{
    border-radius: 3px;
}



.products h2 {
    color: #000;
    font-size: 20px;
    font-weight: 200;
    position: relative;
    background-color: #efefef;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
}
.products h2 b {
    color: #ffc000;
}

.products  .carousel {
    padding: 0;
}

#modelsIndicators img{
    max-height: 350px;
}

.products  .carousel .products  .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.products  .carousel .products  .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.products  .carousel .products  .carousel-item img {	
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.products  .carousel .products  .carousel-item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.products  .carousel .products  .carousel-item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.products  .carousel .products  .carousel-item .btn:hover, .products  .carousel .products  .carousel-item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.products  .carousel .products  .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.products  .carousel .thumb-wrapper {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 10px;
    max-height: 450px;
}
.products  .carousel .thumb-content {
    padding: 15px;
}
.products  .carousel-control-prev, .products  .carousel-control-next {
    width: 40px;
}
.products  .carousel-control-prev i, .products  .carousel-control-next i {
    font-size: 25px;
    position: absolute;
    display: inline-block;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0,0,0,0.8);
    text-shadow: none;
    font-weight: bold;
}
.products  .carousel-control-prev i {
    margin-left: -3px;
}
.products  .carousel-control-next i {
    margin-right: -3px;
}

.products  .carousel-control-prev {
    right: 30px;
    left: auto;
}

.products  .carousel .products  .carousel-indicators {
    bottom: -50px;
}
.products  .carousel-indicators li, .products  .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
}
.products  .carousel-indicators li {	
    background: rgba(0, 0, 0, 0.2);
}
.products  .carousel-indicators li.active {	
    background: rgba(0, 0, 0, 0.6);
}

.product_name h3 a {
    line-height: 20px;
    display: block;
}



.primary_img img{
    width: 100%;
}


.single_product{
    border: 1px solid #dddddd;
    border-top: 2px solid #e4ad07;
    padding: 10px;
    max-height: 450px;
}

.manufacture_product{
    font-size: 13px;
}

.product_code{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product_code p{
    font-size: 13px;
}

.product_name{
    min-height: 50px;
}

.btn-itl{
    border: 1px solid #dddddd;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 2px;
    transform: none;
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    color: #333;
    right: 0;
    display: inline;
    cursor: pointer;
}

.btn-itl:hover{
    border: 1px solid #bfbebe
}


@media only screen and (max-width: 767px){
    .categories_menu_toggle > ul > li.menu_item_children > span::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }

    .categories_menu_toggle > ul > li.menu_item_children > span.open::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 5%;
        transform: translatey(-50%);
        font-size: 20px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .categories_menu_toggle > ul > li.menu_item_children > span::before {
        position: absolute;
        content: "+";
        right: 15px;
        top: 50%;
        transform: translatey(-50%);
        font-size: 20px;
    }
    .categories_menu_toggle > ul > li.menu_item_children > span.open::after {
        position: absolute;
        content: "-";
        right: 15px;
        top: 5%;
        transform: translatey(-50%);
        font-size: 30px;
    }

}

.form-control {
    border-radius: .05rem;
}

.btn {
    border-radius: .05rem;
}

.table.condensed td, 
.table.condensed .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.single-wid-product{
    border: 1px solid #dddddd;
    border-top: 2px solid #e4ad07;
    padding: 5px;
}

.product-thumb {
    float: left;
    margin-right: 15px;
    width: 100px;
}

.bb{
    border-bottom: 1px solid #e5e5e5;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #949599;
    border-color: #949599;
}

.page-link {

    color: #718396;
}

.vm{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.page-title{
        color: #000;
    font-size: 26px;
    font-weight: 300;
    /*text-align: center;*/
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 50px;
}

.page-title:after{
    content: "";
    width: 100px;
    position: absolute;
    /*margin: 0 auto;*/
    height: 4px;
    background: #ffc107;
    left: 0;
    right: 0;
    bottom: -20px;
}